section {
    float: left;
    width: 60%;
    margin: 5% 5%;
    background-color: rgb(240, 255, 250)

}

aside {
    float: left;
    width: 20%;
    margin: 5% 5%;
    background-color: aliceblue;

}

section > img{
    float: left;
}